<div class="left">
  <h1>Contact Us</h1>
  <%= form_for @message do |f| %>
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this form from being sent:</h2>
        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="legend">
      <p>If you want the estimation or just want to say hello!</p>
      <p>All mails are answered within 24 hours.</p>
    </div>

    <div class="field">
      <%= f.label :name, "Your Name:" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, "Your Email:" %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :content, "Your Message:" %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.button "Send", data: { disable_with: "Please wait..." } %>
    </div>
  <% end %>
</div>
<div class="right">
  <section>
    <header>Company Info</header>
    <ul>
      <li><span>Founder:</span> Zbigniew Pieślak</em></li>
      <li><span>Country:</span> Poland</em></li>
      <li><span>Address:</span> Serbska 4B/5, 61-696 Poznań</em></li>
      <li><span>Phone:</span> +48 600 505 601</em></li>
      <li><span>Skype:</span> <%= link_to "zpieslak", "skype:zpieslak?chat" %></li>
      <li><span>Email:</span> <%= mail_to "contact@codegyver.com", nil, encode: "hex", replace_at: "(at)" %></li>
      <li><span>VATIN:</span> PL7811777186</em></li>
    </ul>
  </section>
</div>
