<h1>Projects we made</h1>
<p>Click on the image to see more details.</p>
<ul class="portfolio">
  <li class="portfolio_item">
     <div class="image_wrap">
      <%= image_tag "portfolio/zp.jpg" %>
     </div>
     <div class="zoom_overlay">
      <div class="text">
        <p><span>Name:</span> Zakochanapolska</p>
        <p><span>Type:</span> Dating portal</p>
        <p><span>Technology:</span> Ruby on Rails 3.2 / MySQL</p>
        <p><span>Involvement:</span> Build from scratch entirely by us.</p>
        <p><span>Link:</span> <%= link_to "zakochanapolska.com", "http://zakochanapolska.com", target: "_blank" %></p>
        <br>
        <p>Our responsibility:</p>
        <ul>
          <li>Ruby on Rails/MySQL programming</li>
          <li>Rspec/Capybara tests</li>
          <li>HTML/CSS/Jquery slicing</li>
          <li>MySQL procedures</li>
          <li>Server configuration and administration (nginx/unicorn)</li>
        </ul>
      </div>
     </div>
  </li>
  <li class="portfolio_item">
     <div class="image_wrap">
      <%= image_tag "portfolio/calligraphen.jpg" %>
     </div>
     <div class="zoom_overlay">
      <div class="text">
        <p><span>Name:</span> Calligraphen</p>
        <p><span>Type:</span> Corporate / E-commerce Portal</p>
        <p><span>Technology:</span> Ruby on Rails 3.2 / PostgreSQL</p>
        <p><span>Involvement:</span> We were part of a team.</p>
        <p><span>Link:</span> <%= link_to "calligraphen.se", "http://calligraphen.se", target: "_blank" %></p>
        <br>
        <p>Our responsibility:</p>
        <ul>
          <li>Ruby on Rails/PostgreSQL programming</li>
          <li>Rspec tests</li>
          <li>HTML/CSS/Jquery slicing</li>
          <li>Server configuration tasks</li>
        </ul>
      </div>
     </div>
  </li>
  <li class="portfolio_item">
     <div class="image_wrap">
      <%= image_tag "portfolio/randkowa.jpg" %>
     </div>
     <div class="zoom_overlay">
      <div class="text">
        <p><span>Name:</span> Randkowa</p>
        <p><span>Type:</span> Dating portal</p>
        <p><span>Technology:</span> Ruby on Rails 3.2 / MySQL</p>
        <p><span>Involvement:</span> Build from scratch entirely by us.</p>
        <p><span>Link:</span> <%= link_to "randkowa.com", "http://randkowa.com", target: "_blank" %></p>
        <br>
        <p>Our responsibility:</p>
        <ul>
          <li>Ruby on Rails/MySQL programming</li>
          <li>Rspec tests</li>
          <li>HTML/CSS/Jquery slicing</li>
          <li>MySQL procedures</li>
          <li>Server configuration and administration (nginx/passenger)</li>
        </ul>
      </div>
     </div>
  </li>
  <li class="portfolio_item">
     <div class="image_wrap">
      <%= image_tag "portfolio/ama.jpg" %>
     </div>
     <div class="zoom_overlay">
      <div class="text">
        <p><span>Name:</span> AMA</p>
        <p><span>Type:</span> Marketing Agency site</p>
        <p><span>Technology:</span> Ruby on Rails 3.2 / Refinery CMS / PostgreSQL</p>
        <p><span>Involvement:</span> Build from scratch entirely by us.</p>
        <p><span>Link:</span> <%= link_to "weareama.com", "http://weareama.com", target: "_blank" %></p>
        <br>
        <p>Our responsibility:</p>
        <ul>
          <li>Ruby on Rails programming</li>
          <li>Custom Refinery CMS extensions</li>
          <li>HTML/CSS/Jquery slicing (with responsive layout)</li>
          <li>Server installation (heroku)</li>
        </ul>
      </div>
     </div>
  </li>
  <li class="portfolio_item">
     <div class="image_wrap">
      <%= image_tag "portfolio/arkop.jpg" %>
     </div>
     <div class="zoom_overlay">
      <div class="text">
        <p><span>Name:</span> Arkop</p>
        <p><span>Type:</span> E-commerce Portal</p>
        <p><span>Technology:</span> PHP / Magento / MySQL</p>
        <p><span>Involvement:</span> Build from scratch entirely by us.</p>
        <br>
        <p>Our responsibility:</p>
        <ul>
          <li>PHP/MySQL programming</li>
          <li>Custom Magento extensions</li>
          <li>HTML/CSS/Jquery slicing</li>
          <li>Server installation (Apache)</li>
        </ul>
      </div>
     </div>
  </li>


<!--  <li><%= image_tag "portfolio/calligraphen.jpg" %></li>
  <li><%= image_tag "portfolio/ama.jpg" %></li>
  <li><%= image_tag "portfolio/randkowa.jpg" %></li>
  <li><%= image_tag "portfolio/arkop.jpg" %></li>-->
</ul>
