<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Codegyver</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--[if lte IE 8]><%= javascript_include_tag "html5" %><![endif]-->
  <%#= csrf_meta_tags %>
  <!--<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />-->
  <meta name="description" content="CodeGyver is professional Ruby on Rails (RoR) development and consulting company. We built internet startups and with excellent Ruby on Rails framework and newest technologies (HTML5, CSS3, Javascript)."/>
  <meta name="keywords" content="Ruby on Rails development and consulting, RoR programmer, RoR team "/>
  <meta name="robots" content="index,follow" />
</head>
<body <%= raw @home ? "class=\"home\"" : "" %>>
  <%= render "shared/header" %>
  <%= render "shared/slideshow" if @home %>
  <div id="content">
    <div class="inner">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
