<!DOCTYPE html>
<html>
<head>
  <title>Codegyver</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--[if lte IE 8]><%= javascript_include_tag "html5" %><![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <div id="content">
    <div class="inner">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
